
.popup-header {
    display: flex;
    align-self: center;
    justify-content: center;

    margin: 0;
    padding-bottom: 0.1rem;

    border-bottom-style: solid;
    border-bottom-width: thin;
}

.popup-header h3 {
    display: inline;
    margin: 0;
    padding: 0;
}
